# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/


#Virtual environments
venv/
.env/
.venv/
env/


# PyInstaller build artifacts
build/
dist/
*.spec


# Logs
*.log
*.tmp
*.bak
*.swp
~*.*
*~


# Output files
comparison.xlsx
comparison.csv
comparison.txt

# Quarantine folder
Quarantine/

# IDE files
.vscode/
.idea/

# do not checkin these files
*.tmp
*.bak
*.swp
~*.*
*~

# Generated reports
*.xlsx
*.csv
*.txt
summary.txt

# Executables and installers
*.exe
*.msi
*.dll
*.manifest

#ignore OS  Editor Junk
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VSCode
.vscode/

# PyCharm
.idea/
