# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/


#Virtual environments
venv/
.env/
.venv/
env/


# PyInstaller build artifacts
build/
dist/
*.spec

# Logs
*.log
*.tmp
*.bak
*.swp
~*.*
*~

# Quarantine folder
Quarantine/

# IDE files
.vscode/
.idea/

# do not checkin these files
*.tmp
*.bak
*.swp
~*.*
*~

# IDE files
.vscode/
.idea/

# Generated reports
# Test output
testdata/reports/
testdata/debug/

# Executables and installers
*.exe
*.msi
*.dll
*.manifest

#ignore OS  Editor Junk
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VSCode
.vscode/

# PyCharm
.idea/

# Debug output
test_debug/

#Python specific
venv/
__pycache__/
.pytest_cache/dir
