# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
# Pytest
.pytest_cache/

#Virtual environments
venv/
.env/
.venv/
env/


# PyInstaller build artifacts
build/
dist/
*.spec

# Logs
*.log
*.tmp
*.bak
*.swp
~*.*
*~

# Quarantine folder
Quarantine/
quarantine/

# IDE files
.vscode/

# PyCharm / JetBrains
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# do not checkin these files
*.tmp
*.bak
*.swp
~*.*
*~

# Generated reports
# Test output
testdata/reports/
testdata/debug/

# Code Coverage
.coverage

# Executables and installers
*.exe
*.msi
*.dll
*.manifest

#ignore OS  Editor Junk
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Generated reports and debug output
test_debug/
testdata/

# JSON exception for app version
*.json
!src/app_version.json


